<div class="panel-container">
  @if (builder.selectedElement(); as el) {
    <div class="panel-header">
      <span class="el-type">{{ el.type | uppercase }}</span>
    </div>
    <div class="tabs">
      <button [class.active]="activeTab === 'style'" (click)="activeTab = 'style'">Style</button>
      <button [class.active]="activeTab === 'data'" (click)="activeTab = 'data'">Data</button>
      <button [class.active]="activeTab === 'settings'" (click)="activeTab = 'settings'">Settings</button>
    </div>
    <div class="tab-content">
      @switch (activeTab) {
        @case ('style') { <app-style-tab></app-style-tab> }
        @case ('data') { <app-data-tab></app-data-tab> }
        @case ('settings') { <app-settings-tab></app-settings-tab> }
      }
    </div>
  } @else {
    <div class="element-list">
      <div class="element-list__header">Elements</div>
      @for (el of builder.activePage()?.elements; track el.id) {
        <div class="element-list__item">
          <button class="element-list__select" (click)="builder.selectElement(el.id)">
            <span class="element-list__icon">{{ getElementIcon(el.type) }}</span>
            <span class="element-list__name">{{ el.label || el.staticContent || el.type }}</span>
            <span class="element-list__type">{{ el.type }}</span>
          </button>
          <button class="element-list__clone" (click)="cloneElement(el.id, $event)" title="Clone element">&#x29C9;</button>
        </div>
      } @empty {
        <div class="no-selection">No elements on this page</div>
      }
    </div>
  }
</div>
